
{% extends "progres_pick/base.html"%}

{% load static %}

{% block main %}

<main>

  {% if not user.is_authenticated %}

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Unete al Cambio</h1>
          <p>
            <a href="{% url 'login' %}" class="btn btn-primary my-2">Inicia Secion</a>
            <a href="{% url 'signup' %}" class="btn btn-secondary my-2">Registrate</a>
          </p>
        </div>
      </div>
    </section>
  
  {% endif %}

    <div class="album py-5 bg-body-tertiary">
      <div class="container">
  
        {% block cards%}{% endblock%}
        
      </div>
    </div>
  
  </main>

{% endblock%}